:root{
	/*The project color*/
	/*dark color*/
	--bgd:#131313;
	--bgrd:#333333;
	--txtd:#fff;
	--titled:#D61D52;
	--reald:#09A5D6;
    /*light color*/
    --bgl:#fff;
    --bgrl:#aaa;
    --txtl:#131313;
    --titled:#D61D52;
    --reall:#FFFF00;
	/*The title size*/
	--tltxp:18pt;
    --tltp:30pt;
	--tltm:60pt;
	--tltg:90pt;
    /*The text size*/
    --txt1:12pt;
    
}
html[class="dark"]{
	/*Values the project*/
	--bg: var(--bgd);
	--bgr: var(--bgrd);
	--txt:var(--txtd);
	--title:var(--titled);
	--real:var(--reald);
}
html[class="light"]{
	/*Values the project*/
	--bg: var(--bgl);
	--bgr: var(--bgrl);
	--txt:var(--txtdl);
	--title:var(--titlel);
	--real:var(--reall);
}
.thememode input{
   opacity: 0;
   width: 0;
   height: 0;
    
}
.slider{
    position: absolute;
    width: 4rem;
    height: 2rem;
    border-radius: 3rem;
    cursor: pointer;
    top: 0.2rem;
    left: 0.2rem;
    right: 0.2rem;
    bottom: 0.2rem;
    background-color: var(--bg);
    -webkit-transition: .04s;
    transition: .04s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 3rem;
    left: 4px;
    bottom: 4px;
    background-color: var(--real);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--bg);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--bg);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  